/* Apartir de 920px para baixo quebrar o texto da imagem de servoços e de quem somos */

@media (min-width: 1025px) and (max-width: 1200px) {
    nav {
        width: 100%;
    }

    #servicos_descricao p {
        margin-bottom: 3%;
    }

    #quem_somos_img {
        margin-top: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    nav {
        width: 100%;
    }

    #servicos{
        height: auto;
        padding-bottom: 20px;
    }

    #servicos_img {
        height: 400px;
        margin-left: 5%;
        border-radius: 5px;
    }

    #servicos_conteudo {
        display: block;
    }

    #servicos_img {
        display: block;
        margin: auto;
        max-width: 90%;
        height: 50%;
        margin-bottom: 20px;
    }

    #servicos_descricao {
        width: 100%;
        line-height: 15px;
    }

    #servicos_descricao p {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    #quem_somos {
        display: block;
    }

    #quem_somos_descricao {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        width: 80%;
    }

    #quem_somos_img {
        display: block;
        margin: auto;
        max-width: 75%;
        height: 50%;
    }

    #contato_conteiner {
        width: 80%;
    }
}

/* menu responsivo- tablets e celulares */

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    #btn-icon {
        display: flex;
        justify-content: end;
        margin-right: 30px;
        background: transparent;
    }

    #btn-icon button {
        border: none;
    }

    #btn-icon img {
        height: 25px;
        width: 25px;
        cursor: pointer;
    }

    .open {
        display: block;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    #servicos {
        height: auto;
        padding-bottom: 20px;
    }

    #servicos_conteudo {
        display: block;
    }

    #servicos_img {
        display: block;
        margin: auto;
        max-width: 90%;
        height: 50%;
        margin-bottom: 20px;
    }

    #servicos_descricao {
        width: 100%;
    }

    #servicos_descricao p {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    #quem_somos {
        display: block;
    }

    #quem_somos_descricao {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        width: 80%;
    }


    #quem_somos_img {
        display: block;
        margin: auto;
        max-width: 80%;
        height: 50%;
    }

    #contato_conteiner {
        width: 80%;
    }


}

@media (min-width:320px) and (max-width: 480px) {
    #servicos {
        height: auto;
        padding-bottom: 20px;
    }

    #servicos_conteudo {
        display: block;
    }

    #servicos_img {
        display: block;
        margin: auto;
        max-width: 90%;
        height: 50%;
        margin-bottom: 20px;
    }

    #servicos_descricao {
        width: 100%;
    }

    #servicos_descricao p {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    #quem_somos {
        display: block;
    }

    #quem_somos_descricao {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        width: 80%;
    }


    #quem_somos_img {
        display: block;
        margin: auto;
        max-width: 80%;
        height: 50%;
    }

    #contato_conteiner {
        width: 80%;
    }

    #btn_enviar {
        font-size: 16px;
    }
}




/* 
320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs 
*/